.button {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-style: normal;

    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border-radius: 15px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
}