:root {
  --header-buttons-color: #515151;
  --main-bg-color: #FFFFFF;
  --social-media-links-color: #FF9A3D;
  --gray-main-rectangle: #FAFAFF;
  --distinctive-text-color: #FFC53D;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  padding: 0px;
  margin: 0;
  background: var(--main-bg-color);
}

/* Global */
.container {
  display: flex;
  width: 80%;
  border: 2px solid #000;
  align-items: center;
  margin: auto;
  flex-flow: row wrap;
  overflow: hidden;
  justify-content: space-between;
  background: var(--main-bg-color);
}

ul {
  margin: 0;
  padding: 0;
}
/* Header */

header {
  background: var(--main-bg-color);
  color: var(--header-buttons-color);
  padding-top: 30px;
  min-height: 70px;
}

/* navbar */

.brand {
  display: flex;
  align-items: center;
  margin-left: 5%; 
  height: 100%;
}

.navbar_buttons li {
  padding: 0px 15px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

.navbutton {
  text-decoration: none;
  color: inherit;
}

.navbar_buttons {
  display: flex;
  justify-content: flex-start;
  color: var(--header-buttons-color);
  padding: 0px 15px;
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

/* cover photo */ 
.cover_photo {
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-image: url('/img/cover_photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .cover_photo {
  min-height: 630px;
}

.layer {
  position: absolute;
  opacity: 0.9;
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
  z-index: inherit;
}

.cover_photo h1 {
  position: absolute;
  font-size: 100px;
  font-weight: bold;
  text-align: inherit;
  color: var(--distinctive-text-color);
  top: 3%;
}

.cover_photo h2 {
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  text-align: inherit;
  color: #FFFFFF;
  top: 30%;
}

/* contact and cv section */

 .contact_and_cv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 3px solid yellow;
  margin: auto;
  padding: 50px 0;
  overflow: hidden; 
}

.contact_and_cv h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  letter-spacing: 0.02em;
  color: #222222;
}

/* about me section */

.about_me {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  border: 2px solid orange;
  margin: auto;
  padding-bottom: 5%;
  overflow: hidden;
  background: var(--main-bg-color);
  background-image: linear-gradient(left, var(--gray-main-rectangle), var(--gray-main-rectangle) 70%, transparent 70%, transparent 100%);
  background-image: -webkit-linear-gradient(left, var(--gray-main-rectangle), var(--gray-main-rectangle) 70%, transparent 70%, transparent 100%);
}

.about_me h2 {
  margin-left: 10%;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #222222;
}

.about_me_distinctive_text {
  font-family: Raleway;
  font-style: normal;
  font-size: inherit;
  line-height: 28px;
  text-align: center;
  color: var(--distinctive-text-color);
}

.photo_personalData_description {
  display: flex;
  width: 80%;
  position: relative;
  justify-content: space-around;
  top: 20%;
  margin: auto;
  border: 2px solid red;
  padding: 2.5%;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.personalData {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  right: 6%;
  bottom: 20px;
  border: 2px solid green;
  align-items: center;
  
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  
  background-color: var(--main-bg-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.personalData li {
  padding: 5px;
}
.personalData ul {
  list-style-type: none;
}

.description {
  border-left: 4px dotted var(--distinctive-text-color);
  padding: 0 2%;
  max-width: 50%;
}

/* skill section */

.skills {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  width: 80%;
  border: 2px solid green;
  margin: 4% auto;
  overflow: hidden;
  justify-content: space-between;
  background: var(--main-bg-color);
  background-image: linear-gradient(right, var(--gray-main-rectangle), var(--gray-main-rectangle) 70%, transparent 70%, transparent 100%);
  background-image: -webkit-linear-gradient(right, var(--gray-main-rectangle), var(--gray-main-rectangle) 70%, transparent 70%, transparent 100%);
}

.skills h2 {
  margin-left: 35%;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #222222;
}

.core_skills {
  display: flex;
  position: relative;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  border: 2px solid orange;
  flex-flow: row wrap;
}

ul.core_skills {
  list-style-type: none;
}

.certain_skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  white-space: nowrap;
}

.distinctive_text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--distinctive-text-color);
  padding-bottom: 10px;
}

.certain_skill_photo {
  padding-bottom: 50px;
  align-self: center;
}

.has_special_borders {
  border-left: 4px dotted var(--distinctive-text-color);
  border-right: 4px dotted var(--distinctive-text-color);
  padding: 0 70px;   /* dunno why percentage value breaks items underneath */
}
