:root {
  --header-buttons-color: #515151;
  --main-bg-color: #FFFFFF;
  --welcome-color: #FFC53D;
  --social-media-links-color: #FF9A3D;
  --gray-main-rectangle(#FAFAFF);
}

body {
  font-family: Raleway, 'Alegreya Sans', sans-serif;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  padding: 0px;
  margin: 0;
  background: var(--main-bg-color);
}

/* Global */
.container {
  display: flex;
  width: 80%;
  border: 2px solid #000;
  align-items: center;
  margin: auto;
  flex-flow: row wrap;
  overflow: hidden;
  justify-content: space-between;
  background: var(--main-bg-color);
}

ul {
  margin: 0;
  padding: 0;
}
/* Header */

header {
  background: var(--main-bg-color);
  color: var(--header-buttons-color);
  padding-top: 30px;
  min-height: 70px;
}

/* navbar */

.brand {
  display: flex;
  align-items: center;
  margin-left: 5%; 
  height: 100%;
}

.navbar_buttons li {
  padding: 0px 15px;
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

.navbutton {
  text-decoration: none;
  color: inherit;
}

.navbar_buttons {
  display: flex;
  justify-content: flex-start;
  color: var(--header-buttons-color);
  padding: 0px 15px;
  list-style-type: none;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

/* cover photo */ 
.cover_photo {
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-image: url('/img/cover_photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .cover_photo {
  min-height: 585px;
}

.layer {
  position: absolute;
  opacity: 0.9;
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
  z-index: inherit;
}

.cover_photo h1 {
  position: absolute;
  font-size: 100px;
  font-weight: bold;
  text-align: inherit;
  color: var(--welcome-color);
  top: 3%;
}

.cover_photo h2 {
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  text-align: inherit;
  color: #FFFFFF;
  top: 30%;
}

/* contact and cv section */

 .contact_and_cv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 3px solid yellow;
  margin: auto;
  padding: 50px 0;
  overflow: hidden; 
}

.contact_and_cv h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  letter-spacing: 0.02em;
  color: #222222;
}

/* about me section */

.about_me {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 80%;
  border: 2px solid orange;
  margin: auto;
  overflow: hidden;
  background: var(--main-bg-color);
}

.about_me h2 {
  margin-left: 10%;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #222222;
}

.photo_personalData_description {
  display: flex;
  width: 80%;
  position: relative;
  justify-content: space-around;
  top: 20%;
  margin: auto;
  border: 2px solid red;
  padding: 2.5%;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.personalData {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  right: 7%;
  bottom: 40px;
  border: 2px solid green;
  align-items: center;
  
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  
  background-color: var(--main-bg-color);
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.personalData li {
  padding: 5px;
}
.personalData ul {
  list-style-type: none;
}

.description {
  border-left: 4px dotted var(--welcome-color);
  padding: 0 2%;
  max-width: 50%;
}

/* grey main rectangle ?????????? */

/*
.grey_rectangle h1 {
  display: flex;
  position: absolute;
  z-index: -1;
  background: red;
  width: 700px;
}
*/